:root {
  --font: 'Ubuntu', '华文行楷', '楷体';
  --code-font: 'Fira Code', '华文行楷', '楷体';
}

html {
  font-family: var(--font);
}

pre, code, kbd, samp {
  font-family: var(--code-font);
}

.slidev-layout kbd {
  font-family: var(--code-font);
}